{% extends 'common/base.html.twig' %}

{% block body %}
<div class="privacy-policy text-slate-900">

    <section>
        <div class="container mx-auto px-4 pt-16 pb-12">
            <h1 class="text-5xl font-semibold text-indigo-900 mt-2 mb-8">Groshy Privacy Policy</h1>
            <a href="#" class="flex justify-center items-center max-w-max py-4 px-8 text-sm text-blue-800 bg-blue-200 hover:opacity-80 cursor-pointer rounded-md transition ease-in-out duration-300 mb-7">Last Updated: December 1, 2021</a>
            <p class="mb-6">This Privacy Policy applies to your use of Sharesight and our website. By visiting our site and using Sharesight, you accept our Privacy Policy.</p>
            <ul class="list-disc pl-4 leading-7">
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">Groshy collects your personal data</a></li>
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">How we use the personal data we hold about you</a></li>
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">To whom we may disclose your personal data</a></li>
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">Use of cookies and tracking technology</a></li>
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">Credit card information</a></li>
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">How we secure and manage your personal data</a></li>
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">How you can update and gain access to your personal data</a></li>
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">Email opt-out</a></li>
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">Third party applications</a></li>
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">Changes to this Privacy Policy</a></li>
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">Terms of Use</a></li>
                <li class="pl-3"><a href="#" class="text-blue-800 hover:text-blue-500 hover:underline">How to contact us</a></li>
            </ul>
        </div>
    </section>

    <section class="py-7">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-semibold text-indigo-900 mb-7">Sharesight collects your personal data</h2>
            <p class="mb-6">
                <a href="#" class="text-blue-800 hover:text-blue-500 underline">Groshy</a> is an online share market investment portfolio management service. Sharesight stores information that is entered by you, automatically captured, or is imported at your request. That information can include personal data.
            </p>
            <p class="mb-6">
                “Personal data” is any information related to a natural person that can be used to directly or indirectly identify that person.
            </p>
            <p class="mb-6">
                Sharesight may collect personal data when you:
            </p>
            <ul class="list-disc pl-10 leading-7">
                <li class="pl-4">Visit our websites</li>
                <li class="pl-4">Use Groshy</li>
            </ul>
        </div>
    </section>

    <section class="py-7">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-semibold text-indigo-900 mb-8">How we use the personal data we hold about you</h2>
            <p class="mb-6">
                We may use personal data we collect about you for the primary purpose for which it is collected and for other secondary purposes that are related to the primary purpose of collection.
            </p>
            <p class="mb-6">
                We generally use personal data we hold about you to:
            </p>
            <ul class="list-disc pl-10 leading-7 mb-6">
                <li class="pl-4">provide you with products or services you have requested;</li>
                <li class="pl-4">communicate with you;</li>
                <li class="pl-4">provide you with ongoing news and information about our products and services;</li>
                <li class="pl-4">do other things necessary and incidental to the provision of products and services by us to you;</li>
                <li class="pl-4">produce and publish aggregated portfolio statistics; and/or</li>
                <li class="pl-4">help us manage and enhance our products and services.</li>
            </ul>
            <p>
                We also use screen capturing software to analyse individual customer usage for the purpose of improving our user interface.
            </p>
        </div>
    </section>

    <section class="py-7">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-semibold text-indigo-900 mb-8">To whom we may disclose your personal data</h2>
            <p class="mb-6">
                We may disclose personal data we hold about you to a third party for any purpose that is directly or indirectly related to the normal use of Sharesight.
            </p>
            <p>
                If we sell our business, personal data may be part of the assets transferred to the purchaser.
            </p>
        </div>
    </section>

    <section class="py-7">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-semibold text-indigo-900 mb-8">Use of cookies and tracking technology</h2>
            <p class="mb-6">
                Sharesight uses ‘cookies’ and other measures to monitor traffic patterns and to serve you more efficiently when you visit the site. Cookies do not contain information by which we can identify you but they identify your computer to our servers. We work with third party advertisers to collect and use information about your use of the site in order to advertise Sharesight products which may be of interest to you.
            </p>
            <p>
                To ‘opt out’ you may set your browser so that you are notified before a cookie is downloaded and this will provide you with the opportunity to accept or reject it on each occasion. The help menu within your Internet browser will explain how to do this. 
            </p>
        </div>
    </section>

    <section class="py-7">
        <div class="container mx-auto px-4">
            <h2 class="text-2xl font-semibold text-indigo-900 mb-8">Credit card information</h2>
            <p class="mb-6">
                If you choose to pay by credit card your details are encrypted and securely stored by Direct Payment Solutions Limited to allow your credit card to be billed on a recurring basis.
            </p>
            <p>
                Sharesight does not store your credit card details and they cannot be accessed by Sharesight staff.
            </p>
        </div>
    </section>

    <section class="pt-7 pb-20 md:pb-36">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-semibold text-indigo-900 mb-8">How we secure and manage your personal data</h2>
            <p class="mb-6">
                We protect the personal data we collect from misuse, loss, unauthorised access, modification or disclosure by various means including firewalls, password access, secure servers and encryption of credit card transactions.
            </p>
            <p class="mb-6">
                It is your responsibility to keep your password safe.
            </p>
            <p>
                Your personal data may be transferred to, and processed in, countries other than the country you live in. For example, some of our data is hosted on AWS servers located in the U.S. If you are a non-U.S. resident, this means that your personal data will be transferred to the U.S.        </p>
            </p>
        </div>
    </section>

    <section class="bg-blue-700 text-white text-center">
        <div class="container mx-auto px-4 py-20">
            <h2 class="text-5xl font-semibold mb-8">Try Groshy.io today</h2>
            <p class="max-w-2xl mx-auto mb-8 px-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui velit mattis bibendum massa iaculis sit lorem. Egestas dui quis in eget posuere tellus malesuada a eget.</p>
            <a href="{{ path("talav_user_register") }}" class="flex justify-center items-center max-w-max py-3 px-16 text-xl text-blue-700 bg-white hover:opacity-80 cursor-pointer rounded-md transition ease-in-out duration-300 mx-auto">Try it free</a>
        </div>
    </section>
</div>
{% endblock %}