{% extends 'common/base.html.twig' %}

{% block body %}
<div class="terms-of-use bg-white">

    <section>
        <div class="container mx-auto px-4 pt-16 pb-12">
            <h1 class="text-5xl font-semibold text-indigo-900 mt-2 mb-8">Terms of Use – Groshy</h1>
            <ol class="list-decimal pl-10 leading-7">
                <li class="pl-3"><a href="#general" class="text-blue-800 hover:text-blue-500 hover:underline">General</a></li>
                <li class="pl-3"><a href="#your-obligations" class="text-blue-800 hover:text-blue-500 hover:underline">Your obligations</a></li>
                <li class="pl-3"><a href="#our-obligations" class="text-blue-800 hover:text-blue-500 hover:underline">Our obligations</a></li>
                <li class="pl-3"><a href="#fees-and-charges" class="text-blue-800 hover:text-blue-500 hover:underline">Fees and charges</a></li>
                <li class="pl-3"><a href="#intellectual-property" class="text-blue-800 hover:text-blue-500 hover:underline">Intellectual property</a></li>
                <li class="pl-3"><a href="#links-to-and-from-sharesight" class="text-blue-800 hover:text-blue-500 hover:underline">Links to and from Sharesight</a></li>
                <li class="pl-3"><a href="#disclaimer-and-limitation-of-liability" class="text-blue-800 hover:text-blue-500 hover:underline">Disclaimer and limitation of liability</a></li>
                <li class="pl-3"><a href="#termination" class="text-blue-800 hover:text-blue-500 hover:underline">Termination</a></li>
                <li class="pl-3"><a href="#disputes" class="text-blue-800 hover:text-blue-500 hover:underline">Disputes</a></li>
                <li class="pl-3"><a href="#miscellaneous" class="text-blue-800 hover:text-blue-500 hover:underline">Miscellaneous</a></li>
            </ol>
        </div>
    </section>

    <div class="terms-group text-slate-900">
        <section class="py-7">
            <div class="container mx-auto px-4">

                <ol class="custom-list list-decimal leading-7">
                    <li id="general" class="custom-list-item">
                        <h3 class="text-3xl font-semibold text-indigo-900 mb-7">General</h3>
                        <ol class="custom-sublist">
                            <li>
                                In these Terms of Use “we”, “us” and “our” refer to Sharesight Pty Limited and Sharesight Limited, and “Sharesight” refers to the internet sites at sharesight.com or any other site operated by us, together with the software and any information that can be accessed on those sites. References to “you” or “your” are references to the Sharesight user.
                            </li>
                            <li>
                                These Terms of Use set out the terms on which we grant you access to, and use of, Sharesight and constitute the entire agreement between you and us.
                            </li>
                            <li>
                                By accessing or using Sharesight, you agree to be bound by these Terms of Use. If you do not agree to these Terms of Use (or any revisions to the Terms of Use on Sharesight), you must not use Sharesight or any information obtained as a result of the use of Sharesight.
                            </li>
                            <li>
                                We plan to develop Sharesight over time and these Terms of Use will apply to any changes to Sharesight. We reserve the right to revise these Terms of Use from time to time by updating the Terms of Use as displayed on Sharesight at any given time. You will be bound by any such revised Terms of Use. If you reasonably consider that a material change to these Terms of Use will have a material effect on you, then you may terminate your account in accordance with clause <a href="#clause-8-5" class="text-blue-800 hover:text-blue-500 underline">8.5.</a>
                            </li>
                            <li>
                                It is your obligation to ensure that you have read and agree to the most recent Terms of Use available on Sharesight. By registering for a Sharesight account, you acknowledge that you have read and understood these Terms of Use.
                            </li>
                            <li>
                                We reserve the right to accept or decline on any grounds we consider appropriate, any individual seeking to become a Sharesight user.
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </section>

        <section class="py-7">
            <div class="container mx-auto px-4">

                <ol class="custom-list list-decimal leading-7">
                    <li id="your-obligations" class="custom-list-item">
                        <h3 class="text-3xl font-semibold text-indigo-900 mb-7">Your obligations</h3>
                        <ol class="custom-sublist">
                            <li>
                                You may only access and use Sharesight to manage your personal portfolios and you are responsible for all activity on your account.
                            </li>
                            <li>
                                You must ensure that all information provided by you during the sign-up process is true and correct to the best of your knowledge and belief.
                            </li>
                            <li>
                                You must ensure that your access to and use of Sharesight is not illegal or prohibited by any laws which apply to you.
                            </li>
                            <li>
                                You must take your own precautions to ensure that the process which you employ for accessing Sharesight does not expose you to risk of viruses or other forms of interference which may damage your systems or data. We take no responsibility for any such damage caused to your systems or data.
                            </li>
                            <li>
                                You must make reasonable efforts to investigate and diagnose technical problems before contacting us. If you still need technical support, please check the support provided online by us or contact Sharesight’s customer support, if this is available as part of your Subscription Plan. Sharesight has no obligation to provide customer support services to you for any third party services or software not owned by us that integrates into Sharesight <span class="font-semibold">(Third Party Services)</span>.
                            </li>
                            <li>
                                You acknowledge that you are solely responsible for the accuracy of data that you enter into Sharesight and all results and analysis from your use of Sharesight.
                            </li>
                            <li>
                                You acknowledge that you are responsible for your use of Sharesight and for maintaining the confidentiality of passwords and any other information. You will immediately notify us of any unauthorised use of your account or any other breach of security that you become aware of. Sharesight may reset your password following a breach of security and you must take all other actions that Sharesight reasonably deems necessary and advises to you.
                            </li>
                            <li>
                                You agree that if any data is provided to Sharesight by you, including data provided for or on behalf of any third party, all applicable consents (including privacy) have been obtained regarding the data. You agree that you have the right to disclose the data and the right to grant the use of such data to Sharesight.
                            </li>
                            <li>
                                When accessing and using Sharesight, you must:
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </section>

        <section class="py-7">
            <div class="container mx-auto px-4">

                <ol class="custom-list list-decimal leading-7">
                    <li id="our-obligations" class="custom-list-item">
                        <h3 class="text-3xl font-semibold text-indigo-900 mb-7">Our obligations</h3>
                        <ol class="custom-sublist">
                            <li id="clause-3-1">
                                The data you enter will be governed in accordance with our <a href="policy.html" class="text-blue-800 hover:text-blue-500 underline">Privacy Policy.</a>
                            </li>
                            <li>
                                Sharesight uses ‘cookies’ and other measures to monitor traffic patterns and to serve you more efficiently when you visit Sharesight. Cookies do not contain information by which we can identify you but they identify your computer to our servers. If you refuse cookies some parts of Sharesight may not function properly.                    </li>
                            <li>
                                We will ensure information submitted on the login and signup pages is transferred between you and our servers using HTTPS encryption or similar.
                            </li>
                            <li>
                                We will adhere to accepted industry practices and procedures for preventing data loss, including a daily system back-up regime, but do not make any guarantees that there will be no loss or corruption of data that you have input into Sharesight. We expressly exclude liability for any loss or corruption of data, no matter how caused. You should ensure that you keep up-to-date records of all your data inputted into Sharesight.
                            </li>
                            <li>
                                We intend that Sharesight should be available 99% of the time, 24 hours a day, seven days a week. However, it is possible that on occasions, Sharesight may be unavailable. If we have to interrupt your use or access to Sharesight for longer periods than we usually anticipate, we will use reasonable endeavours to publish in advance details of such activity on Sharesight in advance. We will have no liability to you for the unavailability of Sharesight.
                            </li>
                            <li>
                                We have no responsibility to any person other than you and nothing in these Terms of Use confers a benefit to any person other than you.
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </section>

        <section class="py-7">
            <div class="container mx-auto px-4">

                <ol class="custom-list list-decimal leading-7">
                    <li id="fees-and-charges" class="custom-list-item">
                        <h3 class="text-3xl font-semibold text-indigo-900 mb-7">Fees and charges</h3>
                        <ol class="custom-sublist">
                            <li>
                                We will charge you, and you agree to pay, the monthly or annual Subscription Fee for the level 
                                selected (the <strong>Subscription Plan</strong>) when subscribing to Sharesight 
                                (<strong>Subscription Fee</strong>) (if applicable). To the extent that your Subscription Plan 
                                does not require payment of a Subscription Fee, clauses 
                                <a href="#clause-4-2" class="text-blue-800 hover:text-blue-500 underline">4.2</a> to 
                                <a href="#clause-4-9" class="text-blue-800 hover:text-blue-500 underline">4.9</a> are not applicable to your 
                                Subscription Plan.
                            </li>
                            <li id="clause-4-2">
                                All fees and charges and all prices for access to Sharesight include GST where applicable.
                            </li>
                            <li>
                                You authorise us to invoice and receive payment from you in advance for Subscription Fees on a monthly or annual basis, until termination of your Sharesight account and you cease to use Sharesight or if you downgrade to a free Subscription Plan.
                            </li>
                            <li>
                                Your credit card details will be encrypted and securely stored by a third party payment solutions provider approved by us. We will not store or have access to your credit card details. In supplying your credit card details to our payment services provider, you authorise us to invoice and the payment service provider to process payment of your Subscription Fees and any other outstanding amounts (as applicable) as they become due.
                            </li>
                            <li>
                                Invoices are calculated on a monthly or annual basis, based on the Subscription Plan selected. Where you upgrade your Subscription Plan, any additional costs payable by you will be prorated for the remaining period of the calendar month or year (as applicable) in which you upgrade your Subscription Plan, and you will be billed on the basis of whole calendar months or years (as applicable) going forward.
                            </li>
                            <li>
                                If we are unable to successfully process your credit card payment for the Subscription Fee, then we may notify you of the dishonoured payment and cancel your subscription.
                            </li>
                            <li>
                                You must not pay, or attempt to pay, the Subscription Fee through any fraudulent or unlawful means.
                            </li>
                            <li>
                                No refunds or credits for your Subscription Fee will be provided if you elect to downgrade or terminate your Subscription Plan. In the case of a downgrade, the new Subscription Fee for the downgraded Subscription Plan will apply from the beginning of the calendar month or year following the month or year (as applicable) in which the Subscription Plan was downgraded.
                            </li>
                            <li id="clause-4-2">
                                Changing your Subscription Plan may cause loss of content, features, or capacity of the service you receive on Sharesight, and we do not accept any liability for losses arising as a direct or indirect consequence of this.
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </section>

        <section class="py-7">
            <div class="container mx-auto px-4">

                <ol class="custom-list list-decimal leading-7">
                    <li id="intellectual-property" class="custom-list-item">
                        <h3 class="text-3xl font-semibold text-indigo-900 mb-7">Intellectual property</h3>
                        <ol class="custom-sublist">
                            <li>
                                We are the owners of all intellectual property rights used on or in connection with Sharesight, including (but not limited to) the copyright material, patents and trademarks used on Sharesight.
                            </li>
                            <li>
                                We have no intellectual property rights in the data input by you into Sharesight, other than to hold and make it available for the purposes contemplated by these Term of Use or for which it was provided.
                            </li>
                                No licence is granted to any person in respect of the intellectual property rights used on Sharesight as a result of publication on Sharesight. If you wish to use any intellectual property of a third party you will need to obtain the consent of that third party.
                            </li>
                            <li>
                                You agree and acknowledge that you will not adapt, reproduce, store, distribute, display, publish or create derivative works from any information on Sharesight without our prior written permission (other than information which is your data as described in clause <a href="#clause-3-1" class="text-blue-800 hover:text-blue-500 underline">3.1</a>).
                            </li>
                            <li>
                                Unless otherwise stated, you are permitted to access, view, copy, print (in limited quantities) or temporarily store textual material published by us on Sharesight for your personal use. Any copyright notice on that information must be retained on the copy.
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </section>

        <section class="py-7">
            <div class="container mx-auto px-4">

                <ol class="custom-list list-decimal leading-7">
                    <li id="links-to-and-from-sharesight" class="custom-list-item">
                        <h3 class="text-3xl font-semibold text-indigo-900 mb-7">Links to and from Sharesight</h3>
                        <ol class="custom-sublist">
                            <li>
                                From time to time Sharesight may include embedded content from, and links to, other websites. Those websites are not under our control. The links and embedded content are provided for your convenience only. We do not endorse, and are not responsible for the content, validity, accuracy or your use of, those websites. You should check the terms and conditions of use of those websites before you use them.
                            </li>
                             <li>
                                You may not create a link to Sharesight from another website (other than to the home page) without our prior written consent, which may be given or withheld at our sole discretion.
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </section>

        <section class="py-7">
            <div class="container mx-auto px-4">

                <ol class="custom-list list-decimal leading-7">
                    <li id="disclaimer-and-limitation-of-liability" class="custom-list-item">
                        <h3 class="text-3xl font-semibold text-indigo-900 mb-7">Disclaimer and limitation of liability</h3>
                        <ol class="custom-sublist">
                            <li>
                                We are not a financial product advisory service and Sharesight does not provide financial product advice. The information provided on Sharesight is numeric information only based on publicly available data, data entered by the user or data otherwise available to us and the information presented in the reports is derived from that information as a result of Sharesight’s performance methodology and commonly used calculations. This information is not a recommendation nor is it a statement of opinion. The information should not be relied upon for making investment decisions and it is recommended that you seek your own independent financial advice before making any decisions in relation to your investments.
                            </li>
                             <li>
                                Although the Sharesight taxation reports may be used to compute taxation information, the information provided is not conclusive and does not constitute tax advice. Sharesight is not a registered tax agent and does not provide tax advice. You should consult an independent tax advisor for tax advice. You remain solely responsible for complying with all applicable accounting, tax and other laws. It is your responsibility to check that storage and access to the data input into Sharesight will comply with the laws applicable to you.
                            </li>
                            <li>
                                To the maximum extent permitted by law, we disclaim all warranties, either express or implied, with respect to Sharesight, our performance methodology and the information and reports referred to in clauses 7.1 and 7.2 including but not limited to, warranties of accuracy, non-infringement, completeness, timeliness, currency, accessibility, security, merchantability or fitness for any particular purpose. Without limiting the foregoing:
                                <ol class="list-latin">
                                    <li>access is provided on an “as is” and “as available” basis – we do not warrant that Sharesight will operate in an uninterrupted or error-free manner and we will not be responsible for the results of any actions taken in reliance on Sharesight;</li>
                                    <li>we do not warrant that any Third Party Services, will operate, perform or function, or that the integration will perform; and</li>
                                    <li>information which is transmitted to or from you is transmitted at your sole risk and we do not accept any responsibility for any interference or damage to any computer system which arises in connection with you accessing Sharesight.</li>
                                </ol>
                            </li>

                            <li>
                                To the maximum extent permitted by law, we exclude all liability in contract, tort (including negligence), or otherwise, for any loss (including loss or corruption of data and loss of profits or savings) or damage resulting, directly or indirectly, from the use of, inability to use, or reliance on Sharesight and Third Party Services. We are not liable to you for indirect and consequential loss or for loss of revenue, loss of profits, failure to realise expected profits or savings and any other commercial or economic loss of any kind or loss or corruption of data, in contract, tort, under any statute or otherwise (including negligence) arising from or connected to these Terms of Use or your use of Sharesight. If you are not satisfied with Sharesight, your sole and exclusive remedy is to terminate these Terms of Use in accordance with clause 8.5.
                            </li>
                            <li>
                                Where legislation implies any guarantee, representation or warranty, and that legislation prohibits us from excluding or modifying the application of, or our liability under, any such implied term, that implied term will be deemed included but our liability will be limited for a breach of that term (other than a guarantee as to title or undisturbed possession) to one or more of the following:
                                <ol class="list-latin">
                                    <li>the supplying of the services again; or</li>
                                    <li>the payment of the cost of having the services supplied again.</li>
                                </ol>
                            </li>
                            <li>
                                Our liability to you for loss or damage of any kind arising out of or in connection with these Terms of Use or your use of Sharesight is reduced to the extent (if any) that you cause or contribute to the loss or damage. This reduction applies whether our liability is in contract, tort (including negligence), under any statute or otherwise.
                            </li>
                            <li>
                                Nothing in these Terms of Use is intended to limit or exclude any liability that cannot be excluded by law.
                            </li>
                            <li>
                                Our maximum aggregate liability to you for any reason relating to these Terms of Use or your use and access to Sharesight will be limited in respect of all incidents in a 12 month period, to the Subscription Fees paid by you in the 12 months prior to the occurrence of the first incident.
                            </li>
                            <li>
                                You will indemnify and keep us indemnified against all expenses, fines, losses (including loss of profit), damages and costs (Loss) sustained or incurred by us arising directly or indirectly from your breach of any of these Terms of Use, including any costs relating to the recovery of any Subscription Fees that are due but have not been paid by you. Without limiting the forgoing, you will indemnify us against any claims or Loss relating to:
                                <ol class="list-latin">
                                    <li>
                                        our refusal to provide any person access to your information or data in accordance with these Terms of Use; and
                                    </li>
                                    <li>
                                        any claim by any third party that you do not have the right to use any data, or that your use of any data is a breach of a third party’s intellectual property rights.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </section>

        <section class="py-7">
            <div class="container mx-auto px-4">

                <ol class="custom-list list-decimal leading-7">
                    <li id="termination" class="custom-list-item">
                        <h3 class="text-3xl font-semibold text-indigo-900 mb-7">Termination</h3>
                        <ol class="custom-sublist">
                            <li id="clause-8-1">
                                If an Event of Breach occurs, we may immediately (at our sole discretion) and without notice:
                                <ol class="list-latin">
                                    <li>terminate your account and your use of Sharesight;</li>
                                    <li>suspend for any definite or indefinite period of time, your use of Sharesight; and/or</li>
                                    <li>suspend or terminate access to the data you have input into Sharesight.</li>
                                </ol>
                            </li>

                            <li>
                                An Event of Breach occurs if:
                                <ol class="list-latin">
                                    <li>you breach any of these Terms of Use and fail to remedy the breach within 7 days after receiving notice requiring you to do so;</li>
                                    <li>you breach any of these Terms of Use where that breach is not capable of remedy;</li>
                                    <li>you are, become, or are deemed to be, insolvent or bankrupt;</li>
                                    <li>you make an assignment for the benefit of, or enter into or make any arrangement or composition with your creditors;</li>
                                    <li>you go into receivership or have a receiver, trustee and manager (or either of them) (including a statutory manager) appointed in respect of all or any of your property; or</li>
                                    <li>any resolution is passed, or any proceeding is commenced, for the winding up or liquidation of that other party (other than for the purposes of a solvent reconstruction).</li>
                                    <li>you breach any of these Terms of Use where that breach impairs Sharesight for other Sharesight users.</li>
                                </ol>
                            </li>
                            <li>
                                You will not be entitled to a refund if we discontinue or suspend your account under clause <a href="#clause-8-1" class="text-blue-800 hover:text-blue-500 underline">8.1.</a>
                            </li>
                            <li id="clause-8-4">
                                We may also discontinue or suspend your account, or reduce the services available to you, for any reason, by giving you one month’s notice.
                            </li>
                            <li id="clause-8-5">
                                You may cancel your account for any reason by giving us one month’s notice. If you cancel your account under this clause <a href="#clause-8-5" class="text-blue-800 hover:text-blue-500 underline">8.5</a>, you will not be entitled to any Subscription Fee paid in advance for the remaining period of the calendar month or year (as applicable) of your Subscription Plan.
                            </li>
                            <li>
                                Where we discontinue or suspend your account or reduce the services available to you under clause <a href="#clause-8-4" class="text-blue-800 hover:text-blue-500 underline">8.4</a> you may be entitled to a partial refund.
                            </li>
                            <li>
                                Termination of these Terms of Use is without prejudice to any rights and obligations of the parties accrued up to and including the date of termination. On termination of these Terms of Use, you will remain liable for any accrued charges and amounts which become due for payment before or after termination and immediately cease to use Sharesight.
                            </li>
                            <li>
                                Following the termination of your account, we reserve the right to delete all your data input into Sharesight in the normal course of operation. You acknowledge and confirm that your data cannot be recovered once it is deleted and we will have no liability for any deleted data.
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </section>

        <section class="py-7">
            <div class="container mx-auto px-4">

                <ol class="custom-list list-decimal leading-7">
                    <li id="disputes" class="custom-list-item">
                        <h3 class="text-3xl font-semibold text-indigo-900 mb-7">Disputes</h3>
                        <ol class="custom-sublist">
                            <li>
                                Where any dispute or difference arises in relation to the use of Sharesight or these Terms of Use, both parties agree to use all reasonable endeavours to resolve the dispute as soon as possible.
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </section>

        <section class="pt-7 pb-20 md:pb-36">
            <div class="container mx-auto px-4">

                <ol class="custom-list list-decimal leading-7">
                    <li id="miscellaneous" class="custom-list-item">
                        <h3 class="text-3xl font-semibold text-indigo-900 mb-7">Miscellaneous</h3>
                        <ol class="custom-sublist">
                            <li>
                                These Terms of Use represent an entire agreement and supersede any prior representation, warranty, agreement or understanding. No amendment, modification or variation to these Terms of Use by you will be binding on us unless agreed in writing.
                            </li>
                            <li>
                                Our successors (by merger, consolidation or otherwise) and assignees will have the benefit under these Terms of Use. You may not assign or transfer your account or all or any part of your rights and benefit under these Terms of Use without our prior written consent.
                            </li>
                            <li>
                                If any provision of these terms and conditions becomes or is held invalid, unenforceable or illegal (whether partly or in full) for any reason, that provision (or part of that provision) will be severed from the remaining terms and conditions, which will continue in full force and effect.
                            </li>
                            <li>
                                If you are an Australian customer, these Terms of Use, your use of Sharesight, any information contained on it, and any dispute arising out of such use of Sharesight will be governed by and construed in accordance with the laws of New South Wales, and the parties agree to submit to the non-exclusive jurisdiction of the courts of New South Wales. If you are not an Australian customer, these Terms of Use, your use of Sharesight, any information contained on it and any dispute arising out of such use of Sharesight will be governed by and construed in accordance with the laws of New Zealand, and the parties agree to submit to the exclusive jurisdiction of the courts of New Zealand.
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </section>
    </div>

    <div class="bg-blue-700 text-white text-center">
        <div class="container mx-auto px-4 py-20">
            <h2 class="text-5xl font-semibold mb-8">Try Groshy.io today</h2>
            <p class="max-w-2xl mx-auto mb-8 px-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui velit mattis bibendum massa iaculis sit lorem. Egestas dui quis in eget posuere tellus malesuada a eget.</p>
            <a href="{{ path("talav_user_register") }}" class="flex justify-center items-center max-w-max py-3 px-16 text-xl text-blue-700 bg-white hover:opacity-80 cursor-pointer rounded-md transition ease-in-out duration-300 mx-auto">Try it free</a>
        </div>
    </div>
</div>
{% endblock %}