.form {
  @apply relative bg-white rounded-xl px-6 md:px-8 xl:px-12 py-6 md:py-8 xl:py-10 grid gap-5 sm:gap-7 border border-blue-50 max-w-[551px] w-full mx-auto mb-10 relative shadow-[0px_0px_45px_#EFF6FF];
}
.form::before {
  content: url("./../../public/images/form/bg-form-left.svg");
  position: absolute;
  right: 95%;
  top: 70%;
  z-index: -1;
  @apply hidden sm:block;
}

.form::after {
  content: url("./../../public/images/form/bg-form-right.svg");
  position: absolute;
  left: 95%;
  top: 15%;
  z-index: -1;
  @apply hidden sm:block;
}

.form-row {
  @apply grid gap-2;
}

.form-label {
  @apply text-indigo-900 text-sm sm:text-base;
}

.form-input {
  @apply text-sm sm:text-base rounded-md px-4 py-3 border-slate-300 text-slate-900 focus:border-slate-700 focus:text-slate-700 focus:ring-slate-700 focus:shadow-[0px_6px_26px_-8px_rgba(203,213,225,0.5)] leading-none placeholder:text-slate-300 w-full;
}
.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-input[type="number"] {
  -moz-appearance: textfield;
}
.form-input .form-input[class~="border-red-700"] {
  @apply border-red-500 ring-red-500 text-red-500;
}

.form-text {
  @apply resize-none rounded-md px-4 py-3 border-slate-300 text-slate-900 focus:border-slate-700 focus:text-slate-700 focus:ring-slate-700 focus:shadow-[0px_6px_26px_-8px_rgba(203,213,225,0.5)] leading-none placeholder:text-slate-300 w-full;
}

.form-error {
  @apply text-red-500 text-xs;
  animation: horizontal-shaking 0.3s ease-in-out;
}

.form-check {
  @apply flex;
}
.form-check input {
  @apply hidden;
}

.form-check .inner {
  @apply rounded-3xl border border-slate-300 h-6 w-12 flex items-center mr-3 transition-all duration-300;
}

.form-check .inner span {
  @apply rounded-full h-[18px] w-[18px] block bg-slate-300 translate-x-[3px] transition-all duration-300;
}
.form-check input:checked ~ .inner {
  @apply bg-blue-700;
}
.form-check input:checked ~ .inner span {
  @apply translate-x-[25px] bg-gray-50;
}

/* start v-select */
.v-select .vs__dropdown-toggle {
  @apply rounded-md border-slate-300 p-0;
}
.v-select.error .vs__dropdown-toggle {
  @apply border-red-500;
}
.v-select .vs__search,
.v-select .vs__search:focus {
  @apply px-4 py-3 m-0 leading-none text-slate-900 placeholder:text-slate-300;
}

.v-select .vs__dropdown-option {
  @apply leading-relaxed text-slate-900;
}

.v-select .vs__dropdown-option--highlight {
  @apply text-slate-900 bg-blue-50;
}

.v-select.vs--single .vs__selected {
  @apply px-3 m-0;
}
.v-select.vs--single.vs--open .vs__selected {
  @apply px-3 py-2 top-0 ml-1 mt-[3px];
}

.v-select .vs__selected-options {
}

.v-select .vs__selected {
  @apply my-1;
}
.v-select .vs__dropdown-menu {
  @apply z-[5];
}

.vs__dropdown-option--disabled {
  @apply !hidden;
}
/* end v-select */
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
