{% extends 'common/base_user.html.twig' %}

{% block body %}
    <div class="pt-16 md:pt-20">
        <div class="container mx-auto px-4">
            <div class="text-center">
                <p class="text-8xl sm:text-9xl xl:text-10xl font-bold text-blue-700 leading-none">500</p>
                <h1 class="text-3xl sm:text-5xl xl:text-7xl font-semibold mb-4 text-indigo-900 relative bg-bodyBg z-10">Internal Server Error</h1>
                <p class="text-blue-300">
                    The server has been deserted for a while.
                    <br>
                    Please be patient or try again later
                </p>
            </div>
        </div>
    </div>
{% endblock %}